.panel {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }

    .border-red {
       border-color: red;
    }
}